.header {
  display: grid;
  grid-template-columns: 20% auto auto;
  margin: 2em 2em 1.6em 2em;
  

  &__img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
  }

  &__text {

    &-top {
      font-size: .9rem;
      font-weight: 700;
      color: #161616;
    }
  
    &-bottom {
      font-size: 1.4rem;
      font-weight: 700;
      color: #161616;
    }
  }

  &__notification-icon {
    width: 22px;
    justify-self: flex-end;
    align-self: center;
  }
}