.main {

  // ROUTE SECTION
  &__route {
    display: grid;
    margin: 0em 2em;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto auto ;
    grid-template-areas:
    "title title title"
    "img text-div icon-div"
    "img text-div icon-div"
    "img text-div icon-div";
    

    &__title {
      font-size: 1.4em;
      margin-bottom: .8em;
      grid-area: title;
    }

    &__img {
      width: 15px;
      padding: 1px;
      grid-area: img;
      justify-self: center;
    }

    // CURRENT LOCATION
    &__location {
      grid-area: text-div;
      justify-self: flex-end;

      &-title {
        font-size: .8rem;
        font-weight: 700;
        color: #161616;
      }
  
      &-text {
        font-size: .8rem;
        margin-top: .4em;
        color: #161616;
        
        &::after {
          content: "";
          border-bottom: 1px solid #c3dbe7;
          padding-bottom: 1.2em;
          display: block;
          position: relative;
          width: 180px;
         
        }
      }
    }

    // DESTINATION
    &__destination-title {
      font-size: .8rem;
      color: #161616;
      padding-top: 1.2em;
      font-weight: 700;
      
    }

    &__destination-text {
      font-size: .8rem;
      margin-top: .4em;
      color: #161616;
    }

    &__close-icon {
      width: 25px;
      align-self: center;
    }

    &__revert-icon {
      width: 18px;
      align-self: center;
      justify-self: center;
    }


    &__icons {
      display: grid;
      grid-template-columns: auto;
      grid-area: icon-div;
      justify-self: flex-end;
    
    }
  }

  // EDITIONAL WISHES
  &__wishes {
    margin: 2em 2em 1em 2em;

    &__title {
      font-size: 1.4em;
      margin-bottom: 1.2em;
    }

    &__card-list {
      display: grid;
      grid-template-columns: repeat(4, 43%);
      gap: 12px;
      flex-wrap: nowrap;
      overflow-x: auto;
      height: 150px;
    
  
      &::-webkit-scrollbar {
        display: none;
      }
    }

    &__card {
      height: 130px;
      background-color: #fff;
      border-radius: 15px;
      display: grid;

      &-icon {
        width: 35px;
        margin: 1em;
        padding: 8px;
        border-radius: 8px;
        background-color: #c3dbe7;
      }

      &-title {
        font-size: .7em;
        font-weight: 600;
        margin: 0em 1.2em;
        align-self: center;
      }

      &-text {
        font-size: .7em;
        margin: 0 1em .5em 1.2em;
        
        
      }
    }

   

  }

  // DRIVER INFO
  &__driver {
    margin: 0em 2em;

    &__title {
      font-size: 1.4em;
      margin-bottom: .5em;
    }

    &__profile {
      display: grid;
      grid-template-columns: 25% auto auto;
      background-color: #fff;
      border-radius: 15px;
      align-items: center;
      

      &-img {
        width: 45px;
        height: 45px;
        object-fit: cover;
        border-radius: 40%;
        justify-self: center;
      }

      &-title {
        font-size: .8rem;
        font-weight: 600;
        color: #8197a1;
        margin-bottom: .3em;
      }

      &-text {
        font-size: .8rem;
        font-weight: 500;
      }
      
      &-icon {
        width: 35px;
        margin: 1em;
        padding: 9px;
        border-radius: 8px;
        background-color: #c3dbe7;
        justify-self: flex-end;
    
        
      }
    }
  }
}
