.header {
  display: grid;
  grid-template-columns: 22% auto auto;
  margin: 2em; }
  .header__img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover; }
  .header__text-top {
    font-size: .9rem;
    font-weight: 700;
    color: #161616; }
  .header__text-bottom {
    font-size: 1.4rem;
    font-weight: 700;
    color: #161616; }
  .header__notification-icon {
    width: 22px;
    justify-self: flex-end;
    align-self: center; }
