.main {
 
  
  &__title {
    margin: 30px 35px;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -1px;
  }

  &__search-bar {
    border: 1px solid rgba(20, 18, 18, 0.090);
    border-radius: 14px;
    padding: 16px;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    &__search-icon {
      width: 19px;
      cursor: pointer;
    }
 
    &__chevron-icon {
      width: 20px;
      cursor: pointer;
    }


    &__search-input {
      border: none;
      width: 100%;
      margin-left: 13px;
      outline: 0;

      &::placeholder {
        font-size: 0.8rem;
        font-weight: 600;
        opacity: 0.8;
      }
    }
  }

  &__search-menu {
    display: flex;
    margin: 40px 35px;
    border-radius: 20px;
    background-color: rgba(20, 18, 18, 0.040);

    &__item {
      font-size: .8rem;
      padding: .5em;
      color: rgb(0, 0, 0);
      font-weight: 600;
      width: 100%;
      text-align: center;
      border-radius: 20px;
      cursor: pointer;

      &:hover {
        color: rgb(255, 255, 255);
        background-color: rgb(0, 0, 0);
      }
    }
    
  }

  &__author {
    margin: 35px;
 

    &__content {
      display: grid;
      grid-template-columns: auto 52% auto;
      padding: 25px 0px;
      justify-content: space-between;
      border-bottom: 1px solid rgba(20, 18, 18, 0.090);
     
      
      &:nth-child(1) {
        padding-top: 0;
      }
    }

    &__profile-img {
      width: 45px;
      height: 45px;
      object-fit: cover;
      border-radius: 15px;
    }

    &__add-btn {
      width: 45px;
      height: 45px;
      background-color: rgb(255, 255, 255);
      border: 1px solid rgba(20, 18, 18, 0.090);
      border-radius: 15px;
      cursor: pointer;
    }

    &__name {
      font-weight: 700;
      font-size: 0.8rem;
      line-height: 1.7;
    }

    &__text {
      font-weight: 400;
      line-height: 1.8;
      font-size: 0.8rem;
      color: rgba(20, 18, 18, 0.350);
    }

    &__plus-icon {
      width: 14px;
    }
  }

  // FAVORITE SECTION

  &__favorite {

    &__content {
      margin: 35px 32px;
    }

    &__title {
      margin-bottom: 30px;
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: -1px;
    }

    &__chevron-right-icon {
      width: 30px;
    }

    &__item {
      display: flex;
      padding: 25px 0;

      &__content {
        margin-left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      
      }

      &__img {
        width: 85px;
        height: 85px;
        border-radius: 25px;
        object-fit: cover;
      }

      &:nth-last-child(2) {
        border-bottom: 1px solid rgba(20, 18, 18, 0.090);
        padding-top: 15px;
      }

      &__author-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      
      &__author-small-img {
        width: 17px;
        height: 17px;
        object-fit: cover;
        border-radius: 50%;
      }

      &__author-name {
        font-size: 0.7rem;
        margin-right: 25px;
      }
  
  
      &__video-duration {
        font-size: 0.7rem;
        color: rgba(20, 18, 18, 0.300);
      }

      &__video-title {
        font-size: 0.8rem;
        margin-top: 5px;
        line-height: 1.7;
        font-weight: 700;
        color: rgb(0, 0, 0);
      }
      
      &__video-text {
        margin-top: 5px;
        font-size: 0.7rem;
        color: rgb(209, 111, 31);
      }
      
      
    }


    &__subtitle {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__title {
        font-size: 1rem;
      }

      &__play-icon {
        width: 35px;
      }
    }

    &__author {
    
      &__item {
        display: grid;
        grid-template-columns: auto 60% 12%;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;
        border-bottom: 1px solid rgba(20, 18, 18, 0.090);
        padding-bottom: 25px;
        
      }

      &__profile-img {
        width: 45px;
        height: 45px;
        object-fit: cover;
        border-radius: 15px;
      }

      &__name {
        font-weight: 700;
        font-size: 0.8rem;
        line-height: 1.7;
      }

      &__text {
        font-weight: 400;
        line-height: 1.8;
        font-size: 0.8rem;
        color: rgba(20, 18, 18, 0.350);
      }
    }
  }
}


.active__search-menu-item {
  color:rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);

}