
.card {
  border-radius: 15px;
  background-color: rgb(0, 0, 0);
  margin: 0 2em;
  
  
  &__content {
    display: grid;
    margin: 0px 20px 0px 30px;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 65px 50px auto;
    //grid-template-columns: 80px 80px 50px 50px;
    //grid-template-rows: 70px 60px 70px;
    grid-template-areas:
      "title title notification picture"
      "balance balance . ."
      "number number currency currency";
  }

  &__title {
    color: rgb(156, 156, 156);
    font-size: .9rem;
    font-weight: 500;
    grid-area: title;
    align-self: flex-end;
  }
  
  &__balance {
    color: rgb(255, 255, 255);
    font-size: 2.3rem;
    font-weight: 600;
    grid-area: balance;
    margin: 5px 0 10px 0;
  }

  &__number {
    color: rgb(156, 156, 156);
    font-size: 1rem;
    font-weight: 500;
    grid-area: number;
    margin-bottom: 35px;
    margin-top: 20px;

    &-hide {
      position: relative;
      top: 9px;
      margin-right: .2em;
      font-size: 1.6rem;
    }
  }

  &__notification-icon {
    width: 25px;
    grid-area: notification;
    align-self: flex-end;
    justify-self: flex-end;
    margin-left: 25px;

  }

  &__user-picture {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border: 2px dashed rgb(156, 156, 156);
    border-radius: 50%;
    padding: 6px;
    grid-area: picture;
    margin: 25px 0 0 20px;

  }

  &__currency {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 0 .5em 1em;
    width: 87px;
    height: 32px;
    background-color: rgb(240, 195, 74);
    border-radius: 20px;
    grid-area: currency;
    justify-self: center;
    align-self: center;
    
    &__title {
      font-size: .9rem;
      font-weight: 700;
    }

    &__chevron-icon {
      width: 15px;
    }

  }
}

// STATISTICS SECTION 
.statistics {
  display: grid;
  margin: 2em;
  grid-template-columns: 3fr 1fr 1fr;
  grid-template-areas: 
  "title title ."
  "bar bar availiable-money"
  "expenses expenses availiable-title";

  &__title {
    font-size: 1rem;
    font-weight: 600;
    grid-area: title;
  }

  &__bar {
    grid-area: bar;
    align-self: center;
    width: 215px;
    height: 14px;
    border-radius: 10px;
    background-color: rgb(240, 238, 238);

    & > div {
      height: 14px;
      width: 90px;
      border-radius: 10px 0 0 10px;
      background-image: linear-gradient(to right, rgb(250, 197, 52), rgb(250, 110, 110));
      background-size: 100px;
      
    }
  }

  &__availiable-money {
    font-weight: 800;
    font-size: 1.4rem;
    justify-self: center;
    grid-area: availiable-money;
    

    &__title {
      font-size: 1rem;
      font-weight: 500;
      grid-area: availiable-title;
      margin-top: .3em;
      justify-self: center;
      color: rgb(156, 156, 156);
    }
  }

  &__expenses {
    font-size: .9rem;
    font-weight: 500;
    color: rgb(156, 156, 156);
    grid-area: expenses;
    margin-top: .3em;
  }
}

// SERVICES SECTION
.services {
  margin: 2.5em 2em;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  column-gap: .7em;
  grid-template-areas: 
  "title icon"
  "payments transfers";

  &__title {
    font-size: 1.4rem;
    font-weight: 900;
    margin-bottom: .8em;
  }

  &__chevron-icon {
    width: 30px;
    grid-area: icon;
    justify-self: flex-end;
   
  }
  
  // SERVICES (PAYMENTS)
  &__payments {
    grid-area: payments;
    border: 2px solid rgb(240, 238, 238);
    border-radius: 15px;
    padding: 1em;

    &__icon {
      width: 40px;
    }

    &__title {
      margin-top: .5em;
    }
  }

  // SERVICES (TRANSFERS)
  &__transfers {
    grid-area: transfers;
    border: 2px solid rgb(240, 238, 238);
    border-radius: 15px;
    padding: 1em;

    &__icon {
      width: 40px;
    }

    &__title {
      margin-top: .5em;
    }
  }
}

// RECENT TRANSACTIONS
.recent-transactions {
  margin: 0em 2em;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto auto auto;
  justify-content: space-between;

  &__title {
    font-size: 1.3rem;
    font-weight: 900;
    margin-bottom: .8em;
    grid-column: 1 / 4;
  }

  &__user-picture {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
  
   
  }
}