@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  text-decoration: 0;
  list-style: none;
  scroll-behavior: smooth;
  font-size: 100%;
  font-family: 'Montserrat', sans-serif; }

*::after,
*::before {
  box-sizing: border-box; }

.header {
  display: flex;
  justify-content: space-between;
  margin: 2em; }
  .header__title {
    font-size: 1.6rem; }
  .header__btn {
    width: 25px; }

.card {
  border-radius: 15px;
  background-color: black;
  margin: 0 2em; }
  .card__content {
    display: grid;
    margin: 0px 20px 0px 30px;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 65px 50px auto;
    grid-template-areas: "title title notification picture" "balance balance . ." "number number currency currency"; }
  .card__title {
    color: #9c9c9c;
    font-size: .9rem;
    font-weight: 500;
    grid-area: title;
    align-self: flex-end; }
  .card__balance {
    color: white;
    font-size: 2.3rem;
    font-weight: 600;
    grid-area: balance;
    margin: 5px 0 10px 0; }
  .card__number {
    color: #9c9c9c;
    font-size: 1rem;
    font-weight: 500;
    grid-area: number;
    margin-bottom: 35px;
    margin-top: 20px; }
    .card__number-hide {
      position: relative;
      top: 9px;
      margin-right: .2em;
      font-size: 1.6rem; }
  .card__notification-icon {
    width: 25px;
    grid-area: notification;
    align-self: flex-end;
    justify-self: flex-end;
    margin-left: 25px; }
  .card__user-picture {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border: 2px dashed #9c9c9c;
    border-radius: 50%;
    padding: 6px;
    grid-area: picture;
    margin: 25px 0 0 20px; }
  .card__currency {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 0 .5em 1em;
    width: 87px;
    height: 32px;
    background-color: #f0c34a;
    border-radius: 20px;
    grid-area: currency;
    justify-self: center;
    align-self: center; }
    .card__currency__title {
      font-size: .9rem;
      font-weight: 700; }
    .card__currency__chevron-icon {
      width: 15px; }

.statistics {
  display: grid;
  margin: 2em;
  grid-template-columns: 3fr 1fr 1fr;
  grid-template-areas: "title title ." "bar bar availiable-money" "expenses expenses availiable-title"; }
  .statistics__title {
    font-size: 1rem;
    font-weight: 600;
    grid-area: title; }
  .statistics__bar {
    grid-area: bar;
    align-self: center;
    width: 215px;
    height: 14px;
    border-radius: 10px;
    background-color: #f0eeee; }
    .statistics__bar > div {
      height: 14px;
      width: 90px;
      border-radius: 10px 0 0 10px;
      background-image: linear-gradient(to right, #fac534, #fa6e6e);
      background-size: 100px; }
  .statistics__availiable-money {
    font-weight: 800;
    font-size: 1.4rem;
    justify-self: center;
    grid-area: availiable-money; }
    .statistics__availiable-money__title {
      font-size: 1rem;
      font-weight: 500;
      grid-area: availiable-title;
      margin-top: .3em;
      justify-self: center;
      color: #9c9c9c; }
  .statistics__expenses {
    font-size: .9rem;
    font-weight: 500;
    color: #9c9c9c;
    grid-area: expenses;
    margin-top: .3em; }

.services {
  margin: 2.5em 2em;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  column-gap: .7em;
  grid-template-areas: "title icon" "payments transfers"; }
  .services__title {
    font-size: 1.4rem;
    font-weight: 900;
    margin-bottom: .8em; }
  .services__chevron-icon {
    width: 30px;
    grid-area: icon;
    justify-self: flex-end; }
  .services__payments {
    grid-area: payments;
    border: 2px solid #f0eeee;
    border-radius: 15px;
    padding: 1em; }
    .services__payments__icon {
      width: 40px; }
    .services__payments__title {
      margin-top: .5em; }
  .services__transfers {
    grid-area: transfers;
    border: 2px solid #f0eeee;
    border-radius: 15px;
    padding: 1em; }
    .services__transfers__icon {
      width: 40px; }
    .services__transfers__title {
      margin-top: .5em; }

.recent-transactions {
  margin: 0em 2em;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto auto auto;
  justify-content: space-between; }
  .recent-transactions__title {
    font-size: 1.3rem;
    font-weight: 900;
    margin-bottom: .8em;
    grid-column: 1 / 4; }
  .recent-transactions__user-picture {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%; }

.menu {
  position: sticky;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: white; }
  .menu__content {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly; }
  .menu__item {
    margin: 2em 0; }
  .menu__link {
    padding: 1em; }
  .menu__icon {
    width: 22px; }
