
.card {
  background-color: rgb(0, 0, 0);
  margin: 2em auto;
  border-radius: 15px;
  width: 330px;
 
  
  &__content {
    display: grid;
    margin: 2em;
   
    grid-template-columns: 90px 90px 50px 50px;
    grid-template-rows: 75px 70px 75px;
    grid-template-areas:
      "title title notification picture"
      "balance balance . ."
      "number number currency currency";
  }

  &__title {
    color: rgb(156, 156, 156);
    font-size: 1.1rem;
    grid-area: title;
    align-self: flex-end;
    margin-bottom: .5em;
  }
  
  &__balance {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    grid-area: balance;
  }

  &__number {
    color: rgb(156, 156, 156);
    font-size: 1.3rem;
    grid-area: number;
    align-self: center;
    margin-bottom: 1em;
 
  
  }

  &__notification-icon {
    width: 25px;
    grid-area: notification;
    align-self: flex-end;
    margin: 0 0 .5em .5em;

  }

  &__user-picture {
    width: 50px;
    height: 50px;
    border: 2px dashed rgb(156, 156, 156);
    border-radius: 50%;
    padding: 6px;
    grid-area: picture;
    align-self: flex-end;

  }

  &__currency {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
    margin-bottom: 1.5em;
    width: 90px;
    height: 35px;
    background-color: rgb(240, 195, 74);
    border-radius: 20px;
    grid-area: currency;
    
    &__title {
      font-size: .9rem;
      font-weight: 600;
    }

    &__chevron-icon {
      width: 15px;
    }

  }
}

// Statistics section

.statistics {
  display: grid;
  margin: 2em auto;
  width: 330px;
  grid-template-columns: 3fr 1fr 1fr;
  grid-template-areas: 
  "title title ."
  "bar bar availiable-money"
  "expenses expenses availiable-title";

  &__title {
    font-size: 1.2rem;
    grid-area: title;
  }

  &__bar {
    grid-area: bar;
    align-self: center;
    width: 220px;
    height: 16px;
    border-radius: 10px;
    background-color: rgb(240, 238, 238);

    & > div {
      height: 16px;
      width: 100px;
      border-radius: 10px 0 0 10px;
      background-image: linear-gradient(to right, rgb(250, 197, 52), rgb(250, 110, 110));
      background-size: 100px;
      
    }
  }

  &__availiable-money {
    font-weight: 800;
    font-size: 1.5rem;
    grid-area: availiable-money;

    &__title {
      grid-area: availiable-title;
      margin-top: .3em;
    }
  }

  &__expenses {
    font-size: 1.1rem;
    grid-area: expenses;
    margin-top: .3em;
  }
}

// Services section
.services {
  margin: 1.5em;
  display: grid;
  grid-template-columns: auto auto;

  &__payments {

    &__icon {
      width: 40px;
    }
  }

  &__transfers {

    &__icon {
      width: 40px;
    }
  }
}